@charset "utf-8";

/* wrapper */
#wrapper{overflow:hidden;width:100%}

/* wrap */
.wrap{width:1500px;margin-right:auto;margin-left:auto}
@media all and (max-width:1500px){
.wrap{width:1200px}
}
@media all and (max-width:1200px){
.wrap{width:1000px}
}
@media all and (max-width:1000px){
.wrap{width:94%}
}
@media all and (max-width:640px){
.wrap{width:auto;margin-right:20px;margin-left:20px}
}
*{box-sizing:border-box;word-break:keep-all}

/* header */
#header{position:relative;z-index:30;padding:27px 0}
#header .wrap{display:flex;justify-content:space-between}
@media all and (max-width:640px){
#header{padding:19px 0}
}

/* logo */
#header .logo{font-size:0;line-height:normal}
#header .logo a{display:block;width:315px;height:56px;background:url(../images/common/header_logo.png) center/cover no-repeat}
@media all and (max-width:640px){
#header .logo a{width:185px;height:33px;background-image:url(../images/common/header_logo.png)}
}

/* gnb */
#header .gnb{display:flex;position:relative;justify-content:space-between;align-items:flex-start}

/* menu */
#header .menu{padding-top:10px;padding-right:150px}

/* menu common */
#header .menu .depth{}
#header .menu .depth_list{}
#header .menu .depth_item{position:relative}
#header .menu .depth_text{font-family:'SCoreDream';font-weight:500}

/* depth1 */
#header .menu .depth1{}
#header .menu .depth1_list{display:flex;gap:98px}
#header .menu .depth1_item{padding-bottom:5px}
#header .menu .depth1_text{display:block;position:relative;padding:11px 0;font-size:20px;font-weight:500;line-height:normal;letter-spacing:normal;transition:.25s ease-in-out}
#header .menu .depth1_text:before{display:block;position:absolute;top:-2px;left:calc(50% - 4px);width:8px;height:8px;border-radius:50%;background:#d21b43;transition:.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);transform:scale(0);opacity:0}

/* depth1 active */
#header .menu .depth1_item.active .depth1_text{color:#d21b43}
#header .menu .depth1_item.active .depth1_text:before{transform:scale(1);opacity:1}

/* depth2 */
#header .menu .depth2{visibility:hidden;position:absolute;top:calc(100% - 1px);left:50%;height:0;border-radius:30px;background:#000;transform:translateX(-50%);opacity:0;transition-duration:.25s;transition-property:visibility, opacity, height;transition-timing-function:ease-in-out}
#header .menu .depth2:before{display:block;position:absolute;top:-9px;left:calc(50% - 14px);width:28px;height:9px;background:url(../images/common/menu2_bg.png) center/cover no-repeat}
#header .menu .depth2_list{padding:18px 36px;text-align:center}
#header .menu .depth2_item{}
#header .menu .depth2_text{color:#fff;font-size:15px;font-weight:400;line-height:34px;white-space:nowrap}
#header .menu .depth2_text span{background-image:linear-gradient(0deg, rgba(179,186,207,.5), rgba(179,186,207,.5) 1px, transparent 1px);background-repeat:no-repeat;background-position:right;background-size:0% 100%;transition:background-size .25s ease-in-out}

/* depth2 active */
#header .menu .depth1_item.active .depth2{visibility:visible;opacity:1}
@media all and (min-width:1001px){
#header .menu .depth2_text:hover{font-weight:600}
#header .menu .depth2_text:hover span{background-position:left;background-size:100% 100%}
}
@media all and (max-width:1500px){
#header .menu{padding-right:80px}
#header .menu .depth1_list{gap:50px}
}
@media all and (max-width:1200px){
#header .menu{padding-right:60px}
#header .menu .depth1_list{gap:40px}
}
@media all and (max-width:1000px){
#header .menu{display:none}
}

/* sitemap open */
#header .sitemap_open{display:block;position:absolute;top:calc(50% - 12px);right:0;width:34px;height:27px;background-image:linear-gradient(0deg, #000, #000 3px, transparent 3px), linear-gradient(0deg, transparent calc(50% - 1.5px), #000 calc(50% - 1.5px), #000 calc(50% + 1.5px), transparent calc(50% + 1.5px)), linear-gradient(180deg, #000, #000 3px, transparent 3px);background-repeat:no-repeat;background-size:100% 100%, 22px 100%, 100% 100%;font-size:0}
@media all and (max-width:640px){
#header .sitemap_open{top:calc(50% - 8px);width:20px;height:16px;background-image:linear-gradient(0deg, #000, #000 2px, transparent 2px), linear-gradient(0deg, transparent calc(50% - 1px), #000 calc(50% - 1px), #000 calc(50% + 1px), transparent calc(50% + 1px)), linear-gradient(180deg, #000, #000 2px, transparent 2px);background-size:100% 100%, 13px 100%, 100% 100%}
}

/* sitemap */
.sitemap{visibility:hidden;position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.6);transition:.25s ease-in-out;backdrop-filter:blur(15px);opacity:0}
.sitemap.active{visibility:visible;opacity:1}

/* common */
.sitemap .depth{color:#fff;font-family:'SCoreDream'}
.sitemap .depth_list{}
.sitemap .depth_item{font-size:0;line-height:normal}
.sitemap .depth_text{display:inline-block}

/* depth1 */
.sitemap .depth1{overflow-y:auto;position:absolute;top:250px;right:0;bottom:100px;left:0;width:1500px;margin:auto}
.sitemap .depth1::-webkit-scrollbar{width:10px}
.sitemap .depth1::-webkit-scrollbar-thumb{border-radius:5px;background:#fff}
.sitemap .depth1::-webkit-scrollbar-track{border-radius:5px;background:rgba(255,255,255,.3)}
.sitemap .depth1_list{display:flex;flex-wrap:wrap;align-items:flex-start;gap:20px 40px}
.sitemap .depth1_item{flex:0 0 auto;width:268px}
.sitemap .depth1_item:last-child{margin-right:auto}
.sitemap .depth1_text{font-size:33px;font-weight:700;line-height:normal}

/* depth2 */
.sitemap .depth2{margin-top:53px}
.sitemap .depth2_list{display:flex;flex-direction:column;gap:15px}
.sitemap .depth2_item{}
.sitemap .depth2_text{position:relative;font-size:18px;font-weight:400;line-height:normal;transition:.25s ease-in-out}
.sitemap .depth2_text:before{display:block;position:absolute;top:calc(50% - 3px);left:calc(100% + 7px);width:5px;height:5px;border-radius:50%;background:#fff;transition:.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);transform:scale(0);opacity:0}

/* depth3 */
.sitemap .depth3{display:none}
@media all and (min-width:1001px){
.sitemap .depth1_item.hover .depth2_text{color:#969595}
.sitemap .depth1_item.hover .depth2_text:hover{color:#fff}
.sitemap .depth1_item.hover .depth2_text:hover:before{transform:scale(1);opacity:1}
}
@media all and (max-width:1500px){
.sitemap .depth1{top:150px;width:1200px}
}
@media all and (max-width:1200px){
.sitemap .depth1{width:1000px}
.sitemap .depth1_list{gap:20px 3%}
.sitemap .depth1_item{width:30%}
}
@media all and (max-width:1000px){
.sitemap .depth1{top:100px;width:94%}
}
@media all and (max-width:640px){
.sitemap{text-align:center}
.sitemap .depth_list{padding:1px 0;}
.sitemap .depth_item{display:block;transition:.25s ease-in-out;}
.sitemap.active .depth_item.active>.depth{visibility:visible;opacity:1}

/* depth1 */
.sitemap .depth1{right:40px;left:40px;width:auto}
.sitemap .depth1_list{display:block;}
.sitemap .depth1_item{width:100%;margin-top:13px}
.sitemap .depth1_text{font-size:24px;line-height:normal}
.sitemap.active .depth1_item.active+.depth1_item{margin-top:24px}

/* depth2 */
.sitemap .depth2{visibility:hidden;height:0;margin-top:0;padding-top:1px;padding-bottom:1px;border-top:1px solid rgba(255,255,255,.3);border-bottom:1px solid rgba(255,255,255,.3);transition:.25s ease-in-out;opacity:0}
.sitemap .depth2_list{display:block}
.sitemap .depth2_item{width:100%}
.sitemap.active .depth_item.active>.depth>.depth_list>.depth2_item{margin-top:14px}
.sitemap.active .depth_item.active>.depth>.depth_list>.depth2_item:first-child{margin-top:24px}
.sitemap.active .depth_item.active>.depth>.depth_list>.depth2_item:last-child{margin-bottom:29px}
.sitemap .depth2_text{font-size:18px;line-height:normal}
.sitemap.active .depth_item.active>.depth2{margin-top:21px}

/* depth3 */
.sitemap .depth3{display:block;visibility:hidden;height:0;transition:.25s ease-in-out;opacity:0}
.sitemap.active .depth_item.active>.depth>.depth3_list{margin-top:9px}
.sitemap .depth3_item{width:100%}
.sitemap.active .depth_item.active>.depth>.depth_list>.depth3_item{margin-top:5px}
.sitemap.active .depth_item.active>.depth>.depth_list>.depth3_item:last-child{margin-bottom:5px}
.sitemap .depth3_text{position:relative;padding-left:8px;color:#c7c7c7;font-size:15px;font-weight:300;line-height:normal}
.sitemap .depth3_text:before{display:block;position:absolute;top:11px;left:0;width:3px;height:3px;border-radius:50%;background-color:#c7c7c7}
}

/* sitemap_close */
.sitemap .sitemap_close{position:absolute;top:30px;right:60px;width:65px;height:65px;border-radius:50%;background:rgba(0,0,0,.2);font-size:0;line-height:normal}
.sitemap .sitemap_close:before,.sitemap .sitemap_close:after{display:block;position:absolute;top:50%;left:50%;width:23px;height:2px;border-radius:1px;background:#fff;transform:translate(-50%, -50%) rotate(45deg)}
.sitemap .sitemap_close:after{transform:translate(-50%, -50%) rotate(135deg)}
@media all and (max-width:1000px){
.sitemap .sitemap_close{top:3%;right:3%;width:43px;height:43px}
}

/* quick */
.quick{display:flex;position:absolute;right:30px;z-index:50;flex-direction:column;align-items:flex-end;gap:10px}
.quick .totop button{width:90px;height:90px;border-radius:50%;background-color:#f2f2f2;background-image:url(../images/common/totop.png);background-repeat:no-repeat;background-position:center;background-size:auto;font-size:0;line-height:normal}
@media all and (max-width:640px){
.quick .totop button{width:58px;height:58px;background-image:url(../images/common/totop@2x.png);background-size:11px 14px}
}

/* quick kakao */
.quick .kakao{position:relative;font-family:'SCoreDream'}
.quick .kakao .kakao_open{position:absolute;right:0;bottom:0;width:90px;height:90px;border-radius:50%;background:url(../images/common/kakao_icon.png) center/auto no-repeat, #fff200;font-size:0;line-height:normal;transition:.25s ease-in-out}
.quick .kakao.active .kakao_open{visibility:hidden;transform:scale(0);opacity:0}
.quick .kakao .kakao_wrap{visibility:hidden;overflow:hidden;width:0;height:0;border:1px solid #dadada;border-radius:30px;background-color:#fff;transition:.25s ease-in-out;box-shadow:0 10px 30px rgba(0,0,0,.1);opacity:0}
.quick .kakao.active .kakao_wrap{display:flex;visibility:visible;flex-direction:column;align-items:center;width:257px;height:354px;padding:32px 10px 0;text-align:center;opacity:1}
.quick .kakao .kakao_top{display:flex;flex-direction:column;align-items:center;padding-bottom:16px}
.quick .kakao .kakao_qr{width:90px;height:90px;background:url(../images/common/kakao_qr.png) center/cover no-repeat}
.quick .kakao .kakao_anchor{display:flex;justify-content:center;align-items:center;width:204px;height:44px;margin:14px 0 16px;border-radius:22px;background-color:#fff200}
.quick .kakao .kakao_anchor:before{display:block;width:27px;height:25px;background:url(../images/common/kakao_icon.png) center/cover no-repeat}
.quick .kakao .kakao_anchor:after{display:block;width:13px;height:13px;background:url(../images/common/kakao_arrow.png) center/cover no-repeat}
.quick .kakao .kakao_anchor span{margin-right:11px;margin-left:6px;color:#000;font-size:15px;font-weight:600;line-height:normal;letter-spacing:-.05em}
.quick .kakao .kakao_top p{color:#000;font-size:14px;font-weight:400;line-height:20px;letter-spacing:-.05em}
.quick .kakao .kakao_top p em{font-weight:500}
.quick .kakao .kakao_bot{display:flex;flex-direction:column;padding:18px 10px;border-top:1px solid rgba(0,0,0,.1)}
.quick .kakao .kakao_bot span:first-child{display:flex;justify-content:center;align-items:center;margin-bottom:3px;color:#000;font-size:16px;font-weight:500;line-height:normal;letter-spacing:-.02em;gap:5px}
.quick .kakao .kakao_bot span:first-child:before{display:block;width:21px;height:21px;margin-top:1px;background:url(../images/common/kakao_tel.png) center/cover no-repeat}
.quick .kakao .kakao_bot span:last-child{color:#000;font-family:'Montserrat';font-size:26px;font-weight:700;line-height:normal;letter-spacing:0}
.quick .kakao .kakao_close{position:absolute;top:-9px;right:10px;width:38px;height:38px;border-radius:50%;background-color:#000;font-size:0;transition:.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);transform:scale(0)}
.quick .kakao .kakao_close:before,.quick .kakao .kakao_close:after{display:block;position:absolute;top:0;right:0;bottom:0;left:0;width:16px;height:2px;margin:auto;background-color:#fff}
.quick .kakao .kakao_close:before{transform:rotate(45deg)}
.quick .kakao .kakao_close:after{transform:rotate(135deg)}
.quick .kakao.active .kakao_close{transform:scale(1)}
@media all and (min-width:1001px){
.quick .kakao .kakao_open:hover{background-color:#000;background-image:url(../images/common/kakao_open_w.png);transition:.25s cubic-bezier(0.175, 0.885, 0.32, 1.275)}
}
@media all and (max-width:640px){
.quick .kakao .kakao_open{width:58px;height:58px;background-image:url(../images/common/kakao_icon@2x-1.png);background-size:26px 24px}
.quick .kakao .kakao_anchor:before{width:26px;height:24px;background-image:url(../images/common/kakao_icon@2x-1.png)}
}

/* footer */
#footer{padding:68px 0 94px;background-color:#000;font-family:'SCoreDream'}
#footer .footer_logo{display:block;width:431px;height:56px;background:url(../images/common/footer_logo.png) center/cover no-repeat;font-size:0;line-height:0}
#footer .footer_info{margin-top:23px}
#footer .footer_info .info_list{display:flex;flex-wrap:wrap;gap:10px 0}
#footer .footer_info .info_item{display:flex;align-items:center;color:#c9c9c9;font-size:15px;font-weight:300;line-height:normal;letter-spacing:0}
#footer .footer_info .info_item.noline{margin-right:39px;}
#footer .footer_info .info_item:after{display:block;width:1px;height:14px;margin-right:17px;margin-left:21px;background-color:#2d2d2d}
#footer .footer_info .info_item.noline:after,
#footer .footer_info .info_item:last-child:after{display:none}
#footer .copyright{margin-top:13px;color:#959595;font-size:13px;font-weight:300;line-height:normal;letter-spacing:0}
@media all and (max-width:640px){
#footer{}
#footer .footer_logo{width:258px;height:33px;background-image:url(../images/common/footer_logo@2x.png)}
#footer .footer_info .info_item{font-size:13px}
#footer .footer_info .info_item.noline{margin-right:26px;}
#footer .footer_info .info_item:after{margin-right:13px;margin-left:12px}
#footer .copyright{font-size:11px}
}