@charset "utf-8";

.weatherbox{display:none;}
.header_box .wrap .logo a .logo_image {width: 135px; background-image: url('../img/layout/logo.png'); background-size: contain; }
.header_top .wrap:before {left: 95%;}
.header_top .gnb ul{float:left;}
.header_top .gnb ul{display:block;width:auto;box-sizing:border-box;}
.header_top .gnb ul li{display:block;float:left;position:relative;box-sizing:border-box;line-height:20px;}
.header_top .gnb ul li a{display:block;position:relative;padding:15px 18px 14px 18px;font-size:15px;color:#646770;line-height:20px;letter-spacing:0;}
.header_top .gnb ul li a:before{display:block;position:absolute;top:19px;right:0;width:1px;height:13px;background-color:#d9dfe7;content:'';}
.header_top .gnb ul li a:after{display:block;position:absolute;top:0;left:0;width:1px;background-color:transparent;content:'';}
.header_top .gnb ul li a:hover{background-color:#fafbfd;text-decoration:none;}
.header_top .gnb ul li:last-child a:before{display:none;}
.header_top .gnb ul li a:hover:before{top:0;height:100%;}
.header_top .gnb ul li:last-child a:hover:before{display:block;}
.header_top .gnb ul li a:hover:after{left:-1px;height:100%;background-color:#d9dfe7;}
#lnb .lnb_topbox .lnb_gnb ul li.login{margin-right:0;}
#lnb .lnb_topbox .lnb_gnb ul li.search{display:none;}
/* #lnb .nav .depth2 .depth2_list .depth2_item .depth2_text span {line-height: 38px;} */
#lnb .nav .depth2 .depth2_list .depth2_item .depth2_text[target="_blank"] span {line-height: 20px;}

@media all and (min-width:1401px){

    #lnb .nav .depth1 .depth1_list{width:1060px; padding-right:25px;}
    #lnb .nav .depth1 .depth1_list .depth1_item{width:calc(100%/8);}
}
@media all and (min-width:1001px) and (max-width:1400px){
    .header_box .wrap .logo a .logo_text{display:none;}
    #lnb .nav .depth1 .depth1_list{width:811px;}
    #lnb .nav .depth1 .depth1_list{ padding-right:15px;text-align:right;}
    #lnb .nav .depth1 .depth1_list .depth1_item{width:auto;}
}
@media all and (min-width:1001px){
    /*.header_box .wrap .logo a .logo_image{width:136px;}*/
}

@media all and (max-width:640px){
    .header_box .wrap .logo a .logo_image{height:44px;}
}