@charset "utf-8";

/********** skip_nav **********/
.skip_nav {display:block;overflow:hidden;height:0;background:#000;text-align:center;}
.skip_nav:focus {overflow:auto;height:auto;padding:5px 0;color:#fff;}


/********** 숨김 **********/
.hide {overflow:hidden;width:0px;height:0px;}


/********** 말줄임(공지사항 리스트_가로값과 같이사용) **********/
.ellipsis {overflow:hidden;display:inline-block;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}


/********** 가로값 **********/
.wh100p {width:100%;}
.wh70p {width:70%;}
.wh50p {width:50%;}
.wh30p {width:30%;}
.wh50 {width:50px;}
	/*모바일*/
	@media only screen and (max-width:767px){
		.wh50p {width:100%;}
	}


/********** 폰트색상 **********/
.cr_red {color:#ff0000;}
.cr_blue {color:#005794;}
.cr_green {color:#578a00;}


/********** 정렬 **********/
.ta-l {text-align:left;}
.ta-c {text-align:center;}
.ta-r {text-align:right;}
.vt-t {vertical-align:top;}
.vt-c {vertical-align:middle;}
.vt-b {vertical-align:bottom;}


/********** 전역클래스 **********/
.ft-l {float:left;}
.ft-r {float:right;}
.block {display:block;}
.inblock {display:inline-block;}
.overflow {overflow:hidden;}
.clear {clear:both;}
.bold600 {font-weight:600;}


/********** 폰트사이즈 **********/
.ft16 {font-size:16px;}


/********** 타이틀 **********/
.tith4 {position:relative;font-size:18px;color:#ff8c7d;}
.tith4 em {display:inline-block;padding-top:5px;border-top:2px solid #ff8c7d;}
.tith4:after {content:"";position:absolute;left:0;top:0;width:18px;height:2px;background:#fb6552;}
.tith5 {position:relative;padding-left:15px;font-size:16px;color:#000;}
.tith5:after {content:"";position:absolute;left:0;top:9px;width:8px;height:8px;background:#fff;border:2px solid #ff8c7d;}
.tith6 {position:relative;padding-left:15px;margin-left:15px;font-size:15px;color:#000;}
.tith6:after {content:"";position:absolute;left:0;top:9px;width:7px;height:7px;background:#86c43e;border-radius:100%;}


/********** 참고텍스트 **********/
/* 느낌표_흰배경파란 */
.point1 {display:block;padding-left:20px;background:url(./../img/common/ico_caution1.gif) no-repeat 0 6px;}
/* 느낌표_흰배경빨강 */
.point2 {display:block;padding-left:20px;background:url(./../img/common/ico_caution2.gif) no-repeat 0 6px;}
/* 느낌표_빨강배경흰색 */
.point3 {display:block;padding-left:20px;background:url(./../img/common/ico_caution3.gif) no-repeat 0 6px;}
/* 당구장표시 */
.point4 {display:block;padding-left:14px;background:url(./../img/common/bul_focus.gif) no-repeat 0 9px;}


/********** 리스트 **********/
/* 리스트_1 */
.list1 > li {position:relative;padding-left:14px;font-size:14px;color:#000;}
.list1 > li:after {content:"";position:absolute;left:0;top:11px;width:4px;height:4px;background:#ff0000;}
.list1_1 > li {margin:5px 0;}
.list1_1 > li > a {background:#124140;color:#fff;padding:5px 10px;border-radius:15px;}
/* 리스트_2 */
.list2 > li {padding:0 0 0 9px;background:url(./../img/common/sh_dot1.gif) no-repeat 0 10px;color:#444;}
/* 리스트_3 */
.list3 > li {position:relative;padding-left:12px;font-size:14px;color:#666;}
.list3 > li:after {content:"";position:absolute;left:0;top:11px;width:3px;height:1px;background:#777;}

/* 넘버리스트_1 */
.numlist1 > li {position:relative;padding-left:30px;font-size:14px;color:#000;}
.numlist1 > li:after {content:"01";position:absolute;left:0;top:0;width:25px;height:25px;line-height:25px;background:#ff8c7d;border-radius:100%;text-align:center;color:#fff;}
.numlist1 > li + li:after {content:"02";}
.numlist1 > li + li + li:after {content:"03";}
.numlist1 > li + li + li + li:after {content:"04";}
.numlist1 > li + li + li + li + li:after {content:"05";}
.numlist1 > li + li + li + li + li + li:after {content:"06";}
.numlist1 > li + li + li + li + li + li + li:after {content:"07";}
.numlist1 > li + li + li + li + li + li + li + li:after {content:"08";}
.numlist1 > li + li + li + li + li + li + li + li + li:after {content:"09";}
.numlist1 > li + li + li + li + li + li + li + li + li + li:after {content:"10";}
.numlist1 > li + li + li + li + li + li + li + li + li + li + li:after {content:"11";}


/********** 버튼 **********/
/* 기본 */
a.btn_bace {display:inline-block;height:41px;line-height:41px;padding:0 15px;background:#fcfcfe;border:1px solid #d2d2d2;color:#121212;}
a.btn_bace span {position:relative;display:inline-block;padding-right:15px;}
a.btn_bace span:after {content:">";position:absolute;right:0;top:0;font-size:12px;font-weight:600;}
a.btn_bace:hover,a.btn_bace:focus,a.btn_bace:active {background:#00479d;border:1px solid #00479d;color:#fff;}
/*파랑*/
a.btn_blue {background:#2977c7;border:1px solid #2977c7;color:#fff;}
a.btn_blue:hover,a.btn_blue:focus,a.btn_blue:active {background:#000;border:1px solid #000;}

/*새창링크*/
a.btn_link {display:inline-block;padding-right:17px;background:url(./../img/common/sh_blank_icon.gif) no-repeat right 5px;color:#000;}
a.btn_link:hover,a.btn_link:focus,a.btn_link:active {background:url(./../img/common/sh_blank_icon_on.gif) no-repeat right 5px;color:#ff0000;}


/********** 파일버튼 **********/
/* pdf */
a.btn_file {display:inline-block;height:35px;line-height:35px;padding:0 10px;background:url(./../img/common/icon_file.gif) no-repeat 16px 9px #fcfcfe;border:1px solid #d2d2d2;color:#343434;}
a.btn_file span {padding-left:25px;}
a.btn_file:hover, a.btn_file:focus, a.btn_file:active {border-color:#222;text-decoration:none;}
/*파일버튼종류*/
a.btn_ie {background-position:16px -36px;}/* 익스플로러 */
a.btn_hwp {background-position:16px -89px;}/* 한글 */
a.btn_excel {background-position:16px -141px;}/* 엑셀 */
a.btn_word {background-position:16px -191px;}/* 워드 */
a.btn_ppt {background-position:16px -242px;}/* 파워포인트 */
a.btn_down {background-position:16px -296px;}/* 파일다운로드 */
a.btn_jpg {background-position:16px -351px;}/* jpg */
a.btn_gif {background-position:16px -407px;}/* gif */
a.btn_ai {background-position:16px -463px;}/* 일러스트 */
a.btn_png {background-position:16px -519px;}/* png */


/********** 테이블 **********/
caption {overflow:hidden;height:0px;}/* 사파리에서 공백생기므로 font-size:0으로는 안됨 */
.table_st1 {width:100%;border-bottom:1px solid #ccc;word-break:normal;}
.table_st1 thead th {padding:15px 10px;background:#fbfbfb;border-left:1px solid #cdd2d5;border-top:1px solid #cdd2d5;color:#000;}
.table_st1 thead th:first-child {border-left:0;}
.table_st1 tfoot th {padding:15px 10px;background:#fbfbfb;border-top:1px solid #ccc;}
.table_st1 tfoot td {padding:15px 10px;border-left:1px solid #cdd2d5;border-top:1px solid #ccc;background:#e8e8e2;}
.table_st1 tbody th {padding:15px 10px;border-left:1px solid #cdd2d5;border-top:1px solid #cdd2d5;background:#f9f9f9;vertical-align:middle;font-weight:400;color:#000;}
.table_st1 tbody tr th:first-child,
.table_st1 tbody tr td:first-child {border-left:0;}
.table_st1 tbody tr:first-child th,
.table_st1 tbody tr:first-child td {border-top:2px solid #203300;}
.table_st1 tbody td {padding:15px 10px;border-left:1px solid #cdd2d5;border-top:1px solid #cdd2d5;}
.table_st1 tbody tr th.bd_left,.table_st1 tbody tr td.bd_left,
.table_st1 thead tr th.bd_left,.table_st1 thead tr td.bd_left {border-left:1px solid #cdd2d5;}
.ov_scroll {display:none;}
	/*모바일*/
	@media only screen and (max-width:767px){
		.table_st1 {word-break:keep-all;}

		.ov_scroll {display:block;text-align:center;color:#3587c7;font-size:16px;}
		.ov_scroll span {padding-left:25px;background:url(./../img/common/scroll.gif) no-repeat}
		.ov_table {position:relative;overflow-x:scroll;}
		.ov_table .table_st1 {width:700px;}
	}


/********** 인풋스타일 **********/
.input_style {border:1px solid #cdd2d5;height:30px;line-height:30px;}


/********** 가장자리_외부(margin)_필요시 작성 **********/
/* 위 */
.mt0 {margin-top:0;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}
/* 우측 */
.mr5 {margin-right:5px;}
.mr20 {margin-right:20px;}
/* 좌측 */
.ml5 {margin-left:5px;}
.ml13 {margin-left:13px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.ml25 {margin-left:25px;}
.ml30 {margin-left:30px;}


/*pc*/
@media only screen and (max-width:767px){
	.table_st1 tbody td {padding:7px 15px;}
}

/********** 컨텐츠테이블 **********/
caption {overflow:hidden;height:0px;}/* 사파리에서 공백생기므로 font-size:0으로는 안됨 */
.table_st1 {width:100%;border-bottom:1px solid #ccc;word-break:normal;}
.table_st1 thead th {padding:15px 10px;background:#fbfbfb;border-left:1px solid #cdd2d5;border-top:1px solid #cdd2d5;color:#000;}
.table_st1 thead th:first-child {border-left:0;}
.table_st1 tfoot th {padding:15px 10px;background:#fbfbfb;border-top:1px solid #ccc;}
.table_st1 tfoot td {padding:15px 10px;border-left:1px solid #cdd2d5;border-top:1px solid #ccc;background:#e8e8e2;}
.table_st1 tbody th {padding:15px 10px;border-left:1px solid #cdd2d5;border-top:1px solid #cdd2d5;background:#f9f9f9;vertical-align:middle;font-weight:400;color:#000;}
.table_st1 tbody tr th:first-child,
.table_st1 tbody tr td:first-child {border-left:0;}
.table_st1 tbody tr:first-child th,
.table_st1 tbody tr:first-child td {border-top:2px solid #203300;}
.table_st1 tbody td {padding:15px 10px;border-left:1px solid #cdd2d5;border-top:1px solid #cdd2d5;}
.table_st1 tbody tr th.bd_left,.table_st1 tbody tr td.bd_left,
.table_st1 thead tr th.bd_left,.table_st1 thead tr td.bd_left {border-left:1px solid #cdd2d5;}
.ov_scroll {display:none;}
	/*모바일*/
	@media only screen and (max-width:767px){
		.table_st1 {word-break:keep-all;}

		.ov_scroll {display:block;text-align:center;color:#3587c7;font-size:16px;}
		.ov_scroll span {padding-left:25px;background:url(./../img/common/scroll.gif) no-repeat}
		.ov_table {position:relative;overflow-x:scroll;}
		.ov_table .table_st1 {width:700px;}
	}

/********** 테이블 **********/
caption {overflow:hidden;height:0px;}/* 사파리에서 공백생기므로 font-size:0으로는 안됨 */
.tableA {width:100%;}
.tableA table {width:100%;} 
.tableA thead th {padding:8px 0px;background:#fbfbfb;border-top:2px solid #033900;color:#000;}
.tableA thead th:first-child {border-left:0;text-align:center;}
.tableA tfoot th {padding:8px 0px;background:#fbfbfb;border-top:1px solid #ccc;}
.tableA tfoot td {padding:8px 0px;border-top:1px solid #ccc;background:#e8e8e2;}
.tableA tbody th {padding:8px 0px;border-top:1px solid #cdd2d5;vertical-align:middle;font-weight:400;}
.tableA tbody tr th:first-child,
.tableA tbody tr td:first-child {border-left:0;text-align:center;}
.tableA tbody tr:first-child th,
.tableA tbody tr:first-child td {border-top:1px solid #666;}
.tableA tbody tr:last-child th,
.tableA tbody tr:last-child td {border-bottom:1px solid #666;}
.tableA tbody td {padding:8px 0px;border-top:1px solid #cdd2d5;text-align:center;}
.tableA tbody tr{font-size:13px;}
.tableA tbody tr td.subject {text-align:left;}
.tableA tbody tr .subject img {margin:5px 0;}
.tableA tbody img {padding:4px 0;}
.tableA tbody img.new {padding:0;}
.tableA tbody img.reply {padding:0;}

/* 게시판(리스트) */
.posts {text-align:right;padding:5px 0;}
.post span {font-weight:600;color:#203300;}
.boardsearch {text-align:center;border:1px solid #ccc;background:#fbfbfb;}
.boardsearch legend {display:none;}
.boardsearch label {display:none;}
.boardsearch select {padding:4px 10px;border:1px solid #ccc;}
.boardsearch input {padding:5px 10px;border:1px solid #ccc;}
.boardsearch .btnA_03 {padding:5px 10px; background:#779d75;color:#fff;border:0px solid #ccc;font-size:13px;}
.comm_btn {text-align:right;}
.comm_btn .fright a {padding:5px 20px;display:inline-block;margin:20px 0 10px 0;background:#203300;color:#fff;}
.comm_btn .fright a:hover {color:#fff;background:#779d75;}

/* 게시판(읽기) */
#board .list_typeB .tit_area .titA {background:#fbfbfb;display:inline-block;width:100%;float:left;}
#board .list_typeB .tit_area .titA:first-child .case_tit,
#board .list_typeB .tit_area .titA:first-child .case_cont {border-top:0;border-top:2px solid #033900;}
#board .list_typeB .tit_area .titA:last-child {border-bottom:1px solid #666;}
.case_tit {width:20%;float:left;text-align:center;color:#000;padding:10px 0;border-top:1px solid #ccc;background:#fbfbfb;}
.case_cont {width:80%;float:left;padding:9px 10px;background:#fff;border-top:1px solid #ccc;min-height:46px;}
.case_cont p {font-size:13px;}
.case_cont p span {font-size:13px;}
.tit_area li:last-child .case_tit {}
.tit_area li:last-child .case_cont {min-height:46px;}
.list_typeB .comm_btn {text-align:center;}
.list_typeB .comm_btn .fright a {padding:5px 20px;display:inline-block;margin:20px 0;background:#203300;color:#fff;}
.list_typeB .comm_btn .fright .red_btn {display:inline-block;}
.list_typeB .comm_btn .fright .red_btn input {padding:0;background:0;border:0;color:#fff;display:block;}
.list_typeB .comm_btn .fleft a {background:#779d75;color:#fff;padding:5px 20px;display:inline-block;margin-top:20px;}
.answer_area .titA {border-top:2px solid #033900;}
.answer_area li.titA:first-child .case_tit {border-top:0;}
.answer_area li.titA:first-child .case_cont {border-top:0;padding:10px;height:46px;width:80%;display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.answer_area li.titA:first-child .case_cont select {height:25px;border:1px solid #ccc;}
.answer_area li.titA:last-child .case_tit {border-bottom:2px solid #033900;margin-bottom:20px;}
.answer_area li.titA:last-child .case_cont {border-bottom:2px solid #033900;min-height:47px;height:47px;padding:10px;display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.answer_area li.titA:last-child .case_cont textarea {height:25px;border:1px solid #ccc;width:90%;}

/* 게시판(쓰기) */
.normal_write {border-top:2px solid #033900;border-bottom:1px solid #033900;display:inline-block;width:100%;}
.normal_write table {width:100%;}
.normal_write tr th {width:20%;padding:10px 0;background:#fbfbfb;font-weight:300;border-bottom:1px solid #ccc;}
.normal_write tr td {padding:5px 10px;border-bottom:1px solid #ccc;}
.normal_write tr td input {width:90%;height:25px;padding:10px;border:1px solid #ccc;}
.normal_write tr td textarea {width:90%;border:1px solid #ccc;}
.normal_write tr .brd_file li input {padding:0;width:200px;}
.normal_write tr .brd_file li #fileProcTy_0_U {width:20px;height:15px;}
.normal_write tr .brd_file li #fileProcTy_0_D {width:20px;height:15px;}
.normal_write tr .brd_file li #bdtInsrtAtTy_0 {width:20px;height:15px;}
.normal_write tr .brd_file li .file {border:0;}
.normal_write tr .brd_file li .alt_txt {display:none;}
.normal_write tr .brd_file li #bdtInsrtAt_0, #bdtInsrtAt_1 {height:15px;width:15px;}
.normal_write tr .brd_file li label {font-size:13px;}
.normal_write tr:last-child th {border-bottom:1px solid #033900;} 
.normal_write tr:last-child td {border-bottom:1px solid #033900;} 
.normal_write .point img {padding-top:8px;}
.comm_btn .fleft .blue_btn input {background:#779d75;color:#fff;padding:5px 20px;display:inline-block;margin-top:20px;border:0;height:34px;font-size:14px;}
.comm_btn .fleft .green_btn2 a {background:#779d75;color:#fff;padding:5px 20px;display:inline-block;margin-top:20px;border:0;height:34px;float:right;}
.comm_btn a {background:#779d75;color:#fff;padding:5px 20px;display:inline-block;margin-top:20px;border:0;height:34px;font-size:12px;}
#board .noti {padding:5px 0;}
#board .noti .point img {padding-top:8px;}
.normal_write .titA {color:#000;border-top:1px solid #ccc;display:inline-block;width:100%;background:#fbfbfb;height:100%;}
.normal_write ul li + li {height:46px;float:left;}
.normal_write ul li + li + li {height:100%;}
.normal_write .brd_file li + li {float:left;height:100%;}
.normal_write .titA:first-child {border-top:0;line-height:46px;padding:0;}
.normal_write .titA strong {width:20%;background:#fbfbfb;display:inline-block;float:left;text-align:center;line-height:46px;} 
.normal_write .titA strong .point {width:10px;}
.normal_write .titA strong span {display:inline-block;padding-left:0;background:#fbfbfb;}
.normal_write .titA span {height:100%;display:inline-block;background:#fff;width:80%;padding-left:5px;} 
.normal_write .titA #atchmnfl_0, #atchmnfl_1 {width:200px}
.normal_write .titA span label {padding:10px 0;}
.normal_write .titA span input {padding:5px 0;}
.normal_write #replcText_0, #replcText_1 {display:none;}
.normal_write .titA .inputA {height:25px;border:1px solid #ccc;width:90%}
.normal_write .titA .textareaA {border:1px solid #ccc;width:90%;margin:10px 0}
.normal_write .titA span label img {padding-top:8px;padding-right:10px;display:none;}
.paraB a {background:#779d75;color:#fff;padding:5px 20px;display:inline-block;margin-top:20px;border:0;height:34px}
.paraB input {background:#779d75;color:#fff;padding:5px 20px;display:inline-block;margin-top:20px;border:0;height:34px}
.paraB .right {float:right;}
.paraB .left a {float:right;margin-left:4px;background:#203300;}

/*검색(공통)*/
.search_warp:after {content:"";display:block;clear:both}
.search_box {position:relative;display:inline-block;float:right;height:43px}
.search_box .ft_left {position:absolute;left:0; top:0;}
.search_box legend {position:absolute;top:-9999px;visibility:hidden;overflow:hidden;height:0px;width:0px; }
.search_box .selectbox {position:relative;float:left;width:95px;height:40px;line-height:40px;margin-right:8px;background:url(../img/main/select.gif) no-repeat right 50%;border-bottom:1px solid #000;color:#000;z-index:1}
.search_box .selectbox label {position:absolute;top:0px;left:15px;width:100%;height:40px;line-height:40px;z-index:-1}
.search_box .selectbox select {width:100%;height:40px;line-height:40px;font-family:inherit;border:0;opacity:0;filter:alpha(opacity=0);-webkit-appearance:none;-moz-appearance:none;appearance:none}
.search_box .search_text {float:left;width:auto;height:40px;line-height:40px;padding:0;border-left:0;border-top:0;border-right:0;border-bottom:1px solid #000;color:#777}
.search_box .btn {overflow:hidden;width:49px;height:40px;border:0;background:url(../img/main/icon_search.gif) no-repeat;border-bottom:1px solid #000;font-size:0;cursor:pointer}

/*페이지넘버*/
.pagination {position:relative;height:60px;text-align:center;margin-top:20px;}
.pagination .current {position:relative;width:388px;height:60px;margin:0 auto;text-align:center;padding:5px 8px;background:#203300;color:#fff;}
.pagination a {padding:0 5px;}
.pagination a img {padding-top:7px;}

#board {position:relative;}
.paraB .pagination {position:absolute;bottom:0;text-align:center;margin:65px auto;width:100%;}
.paraB .pagination .current {width:24px;height:35px;margin:0 auto 15px auto;display:inline-block;}
.paraB > .center > .pagination > a {width:24px;height:35px;margin:0 5px;padding:5px;background:0;color:#203300;}
.bbs_srch {display:inline-block;height:70px;width:100%;border:1px solid #ccc;background:#fbfbfb;margin-top:60px;}
.bbs_srch fieldset {}
.boardSearchForm {text-align:center;padding:20px 0;height:70px;width:100%;display:inline-block;}
.boardSearchForm legend {display:none;}
.boardSearchForm label {display:none;}
.boardSearchForm select {padding:4px 10px;border:1px solid #ccc;width:110px;}
.boardSearchForm input {}
.boardSearchForm .inputText {border:1px solid #ccc;background:#fff;width:30%;padding:5px 10px;}
.boardSearchForm .btnA_03 {padding:5px 10px; background:#779d75;color:#fff;border:0px solid #ccc;font-size:13px;}
#bbsNttSearch1 {border:1px solid #ccc;background:#fbfbfb;margin-bottom:10px;}

@media only screen and (max-width:1024px){
	.paraB .right {margin-bottom:20px;}
}

@media only screen and (max-width:767px){
	.tableA thead th {font-size:13px;}
	.tableA tbody tr td {font-size:12px;}
	.boardsearch input {width:40%;}
	.boardsearch .btnA_03 {width:72px;}
	.comm_btn .fright a {font-size:12px;}
	.list_typeB .comm_btn .fleft a {font-size:12px;}
	.comm_btn .fleft .blue_btn input {font-size:12px;}
	.comm_btn .fleft .green_btn2 span {font-size:12px;}
}

@media only screen and (max-width:434px){
	.normal_write .titA #atchmnfl_0, #atchmnfl_1 {width:100%;}
	.normal_write tr .brd_file li input {width:100%;}
}

legend, .skip {display:none;}

